@import "~semantic-ui-css/components/reset.css"
@import "~semantic-ui-css/components/site.css"
@import "~semantic-ui-css/components/button.css"
@import "~semantic-ui-css/components/icon.css"
@import "~semantic-ui-css/components/input.css"
@import "~semantic-ui-css/components/label.css"
@import "~semantic-ui-css/components/container.css"
@import "~semantic-ui-css/components/menu.css"
@import "~semantic-ui-css/components/item.css"
@import "~semantic-ui-css/components/dropdown.css"

::-webkit-scrollbar
    width: 15px
    height: 15px

::-webkit-scrollbar-track
    background: rgba(255, 255, 255, 0.1)

::-webkit-scrollbar-thumb
    min-height: 50px
    background: rgba(144, 144, 144, 0.5)

html, body, #app
    margin: 0
    padding: 0
    height: 100%
    width: 100%

body
    overflow: hidden

.color-red-600
    color: #E53935

.color-pink-600
    color: #D81B60

.color-purple-600
    color: #8E24AA

.color-deep-purple-600
    color: #5E35B1

.color-indigo-600
    color: #3949AB

.color-blue-600
    color: #1E88E5

.color-light-blue-600
    color: #039BE5

.color-cyan-600
    color: #00ACC1

.color-teal-600
    color: #00897B

.color-green-600
    color: #43A047

.color-light-green-600
    color: #7CB342

.color-lime-600
    color: #C0CA33

.color-yellow-600
    color: #FDD835

.color-amber-600
    color: #FFB300

.color-orange-600
    color: #FB8C00

.color-deep-orange-600
    color: #F4511E

.color-brown-600
    color: #6D4C41

.color-grey-600
    color: #757575

.color-blue-grey-600
    color: #546E7A

.bg-color-red-600
    background-color: #E53935

.bg-color-pink-600
    background-color: #D81B60

.bg-color-purple-600
    background-color: #8E24AA

.bg-color-deep-purple-600
    background-color: #5E35B1

.bg-color-indigo-600
    background-color: #3949AB

.bg-color-blue-600
    background-color: #1E88E5

.bg-color-light-blue-600
    background-color: #039BE5

.bg-color-cyan-600
    background-color: #00ACC1

.bg-color-teal-600
    background-color: #00897B

.bg-color-green-600
    background-color: #43A047

.bg-color-light-green-600
    background-color: #7CB342

.bg-color-lime-600
    background-color: #C0CA33

.bg-color-yellow-600
    background-color: #FDD835

.bg-color-amber-600
    background-color: #FFB300

.bg-color-orange-600
    background-color: #FB8C00

.bg-color-deep-orange-600
    background-color: #F4511E

.bg-color-brown-600
    background-color: #6D4C41

.bg-color-grey-600
    background-color: #757575

.bg-color-blue-grey-600
    background-color: #546E7A

.bg-color-undefined-600
    background-color: #EF5350

.classcad, .user, .sign, .message
    cursor: pointer

.classcad-error
    font-weight: 600

.classcad:hover, .user:hover, .sign:hover, .message:hover
    filter: invert(70%)

.alertify .dialog, .alertify button, .alertify input, .alertify-logs
    font-family: Arial, sans-serif
    font-size: 12px!important

.alertify input
    margin-bottom: 0!important
    padding: 6px!important
    outline: none

.alertify
    z-index: 1000

.ace_gutter
    z-index: initial!important

.lm_splitter.lm_horizontal .lm_drag_handle
    left: 0!important

.inverted
    background-color: rgba(1,1,1,0.2)

.headsup
    transform: rotate(180deg);

.Grid__innerScrollContainer
    position: relative

footer
    display: flex
    align-items: center
    padding: 5px
    padding-left: 20px
    min-height: 60px
    width: 100%
    font-family: BlinkMacSystemFont, "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, sans-serif
    font-size: 14px
    color: white
    border-top: 1px #b5b5b5 solid

footer > *
    margin: 5px!important
    margin-right: 10px!important

.ace_editor
    font-size: 13px!important

/* Theme */
body
    background-color: #fbfbfb

footer
    background-color: #d9d9d9
    color: #9b9b9b
    z-index: 2000

.log
    color: #777
    font-family: monospace

.classcad-error
    background-color: #E53935
    color: white

.inverted
    background-color: rgba(0, 0, 0, 0.075)

.results
    overflow:  auto

.results > ul
    font-family: BlinkMacSystemFont, "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, sans-serif
    font-size: 14px
    font-family: monospace
    margin: 0!important
    padding: 20px!important
    padding-top: 34px!important
    padding-left: 50px!important
    background-color: transparent!important
    width: 100%
    height: 100%

.graph
    margin-top: 50px
    display: flex
    height: 100px
    .bar
        flex: 1
        position: relative
        height: 100%
        display: inline-block
        margin-right: .25rem
    .full, .value
        position: absolute
        bottom: 0
        left: 0
        right: 0
    .full
        top: 0
        background: rgba(100,100,100,.1)
    .value
        z-index: 1
    &.square
        .full, .value
            border-radius: 0
